
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';  /* project id 510820 */
  src: url('//at.alicdn.com/t/font_510820_w76ussejqorms4i.eot');
  src: url('//at.alicdn.com/t/font_510820_w76ussejqorms4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_510820_w76ussejqorms4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_510820_w76ussejqorms4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_510820_w76ussejqorms4i.svg#iconfont') format('svg');
}

